# Google Tag Manager Container ID (ex: GTM-XXXXXXX)
VITE_GTM_ID=GTM-P69LMTGG

# Google Analytics 4 Measurement ID (ex: G-XXXXXXXXXX)
VITE_GA_ID=G-R8NQ50ZW99

# Meta (Facebook/Instagram) Pixel ID
VITE_META_PIXEL_ID=1571381581401643


